    <form action="">
        <p>Nome: </p>
        <input type="text" name="nome">
        <p>Email: </p>
        <input type="email">
        <p>Senha: </p>
        <input type="password">
        <p>Foto de perfil: </p>
        <input type="file" id="img" name="img" accept="image/*">
        <input type="submit" value="Cadastrar">
    </form>